* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background: radial-gradient(100% 215.42% at 0% 0%, #f1f1f1 0%, #d1d1d1 100%);
}
body .keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  min-width: 700px;
  height: 550px;
  padding: 20px 30px;
  border-radius: 5px;
  background: #656565;
  box-shadow: 1px 2px 3px #151515;
}
body .keyboard-container .information-text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .keyboard-container .information-text-container .information-text {
  margin: 0;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
  color: #c8c8c8;
}
body .keyboard-container .textarea {
  max-width: 1200px;
  width: 100%;
  height: 22%;
  padding: 5px;
  font-size: 1.65rem;
  color: #555454;
  border: 2px solid #555454;
  border-radius: 5px;
  background: radial-gradient(100% 215.42% at 0% 0%, #f1f1f1 0%, #d1d1d1 100%);
  overflow: auto;
  outline: none;
  resize: none;
}
body .keyboard-container .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 70%;
}
body .keyboard-container .buttons-container .buttons-row {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: calc(20% - 5px);
}
body .keyboard-container .buttons-container .buttons-row .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.1%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #555454;
  border: 3px solid #fafafa;
  border-right-color: #828282;
  border-bottom-color: #828282;
  border-radius: 5px;
  background: #fbfbfb;
  box-shadow: 1px 2px 3px #151515;
}
body .keyboard-container .buttons-container .buttons-row .btn:active {
  color: #ffffff;
  background: rgba(109, 114, 115, 0.8117647059);
  box-shadow: 0px 1px 7px 3px #edfbf9;
  transform: scale(1);
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body .keyboard-container .buttons-container .buttons-row .btn.active {
  color: #ffffff;
  background: rgba(109, 114, 115, 0.8117647059);
  box-shadow: 0px 1px 7px 3px #edfbf9;
  transform: scale(1);
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
body .keyboard-container .buttons-container .buttons-row .btn13 {
  flex-grow: 1;
  min-width: 13%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn14 {
  flex-grow: 1;
  min-width: 7%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn28,
body .keyboard-container .buttons-container .buttons-row .btn53,
body .keyboard-container .buttons-container .buttons-row .btn55,
body .keyboard-container .buttons-container .buttons-row .btn56,
body .keyboard-container .buttons-container .buttons-row .btn57,
body .keyboard-container .buttons-container .buttons-row .btn59,
body .keyboard-container .buttons-container .buttons-row .btn60,
body .keyboard-container .buttons-container .buttons-row .btn61,
body .keyboard-container .buttons-container .buttons-row .btn62,
body .keyboard-container .buttons-container .buttons-row .btn63 {
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn29 {
  flex-grow: 1;
  width: 12%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn29.active {
  color: #ffffff;
  background: rgba(109, 114, 115, 0.8117647059);
}
body .keyboard-container .buttons-container .buttons-row .btn41 {
  flex-grow: 1;
  width: 13.5%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn42 {
  flex-shrink: 1;
  width: 15.5%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn54 {
  flex-grow: 1;
  width: 12.7%;
  background: #c8c8c8;
}
body .keyboard-container .buttons-container .buttons-row .btn55 {
  flex-grow: 1;
  min-width: 6.8%;
}
body .keyboard-container .buttons-container .buttons-row .btn58 {
  flex-grow: 1;
  min-width: 44.5%;
}
body .keyboard-container .buttons-container .buttons-row .btn64,
body .keyboard-container .buttons-container .buttons-row .btn65,
body .keyboard-container .buttons-container .buttons-row .btn66 {
  display: none;
}

@media (max-width: 1200px) {
  body {
    padding: 0 10px;
  }
  body .keyboard-container .information-text-container .information-text {
    font-size: 1.1rem;
  }
  body .keyboard-container .buttons-container .buttons-row .btn58 {
    min-width: 47%;
  }
}
@media (max-width: 870px) {
  body {
    padding: 0 10px;
  }
  body .keyboard-container .information-text-container .information-text {
    font-size: 1.1rem;
  }
  body .keyboard-container .buttons-container .buttons-row .btn {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */